.contact-img
  float: left
  width: 200px
  height: 200px
  margin: 0 1em 1em 0
.contact-intro
  background-image: url('../../images/联系界面.png')
  background-repeat: no-repeat
  background-size: 20%
  height: 500px
  margin-top: 5em
  margin-bottom: 4em
  text-indent: 1cm
  line-height: 30px
