.product
  position: relative
.product-row
  margin-top: 50px
.col-img
  margin-top: 10px
  margin-bottom: 30px
.product-img
  display: block
  margin: 0 auto
  border-radius: 3px
  margin-bottom: 50px
  transition: all 0.3s ease-in-out
.product-img:hover
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1)
  transform: scale(1.05,1.05)

