body
  background-color: rgb(236,237,241)
.container
  // background-color: rgb(236,237,241)
  max-width: 1000px
  padding: 0 20px
.text-center h1
  color: rgb(59,83,72)
  text-align: center
  margin-top: 100px
.container-block
  margin-top: 150px
.column
  width: 100%
  height: 350px
  background-color: white !important
  margin-top: 20px
  border-radius: 3px
.img-range
  display: block
  margin: 0 auto
  padding-top: 20px
.development .row h4
  color: rgb(59,83,72)
  text-align: center
.development .row p
  color: rgb(208,215,212)
  font-size: 14px
  line-height: 20px
  text-align: center
  padding: 0 28px
