body
  background-color: rgb(236,237,241)

  @media (max-width: 992px)
    .development
      font-size: 16px
    .img-range
      padding-top: 30px
    .intro-title
      font-size: 15px
    .main-intro
      text-align: left
  @media (max-width: 800px)
    font-size: 15px
  @media (max-width: 411px)
    font-size: 14px
  @media (max-width: 384px)
    font-size: 13px
  @media (max-width: 360px)
    font-size: 10px
  @media (max-width: 320px)
    font-size: 10px
  @media(min-width: 992px)
    font-size: 26px
.development-itro h4
  @media(max-width: 768px)
    text-align: left!important
.text-center
  color: rgb(59,83,72)
  font-size: 2em
  text-align: center
  margin-top: 100px
  padding: 10px
.container-block
  margin-top: 60px
  margin-bottom: 100px
.column
  width: 100%
  display: block
  margin: 0 auto
  background-color: white !important
  margin-top: 20px
  padding-bottom: 10px
  border-radius: 3px
.img-range
  display: block
  margin: 0 auto
  width: 95%
  padding-top: 20px
.development-itro
  padding-top: 40px
.itro-title
  color: rgb(59,83,72)
  text-align: center
  font-size: 1em
.main-intro
  width: 100%
  text-align: center
  color: rgb(208,215,212)
  font-size: 14px
  line-height: 20px
