@media (max-width: 992px)
  .evaluation-txt
    font-size: 16px
  .down-text
    font-size: 5px
  .evaluation-btn
    font-size: 10px
.steps
  margin-top: 80px
.block-img
  width: 70%
  height: auto
  display: block
  margin: 0 auto
.second-step
  opacity: 0.5
.third-step
  opacity: 0.5
.evaluation-txt
  font-size: 1em
.down-text
  font-size: .5em
  line-height: 5em
  text-align: center
  color: rgb(192,199,199)
a:hover
  text-decoration: none!important
.evaluation-btn
  background-color: white
  color: #de0357
  width: 75%
  display: block
  margin: 0 auto
  height: 35px
  line-height: 3px
  font-size: 1em
  margin-top: 60px
  margin-bottom: 100px
  transition: all 0.3s ease-in
  border: solid 2px #de0357
.checkbox-check
  margin-left: 0!important
  font-size: 13px
  position: relative
.checkbox-check:after
  content: ''
  position: absolute
  border: 8px solid transparent
  width: 0
  height: 0
  border-bottom-color: #373A3C
  left: 35px
  top: 15px
  display: none
.checkbox-check .description
  background-color: #373A3C
  position: absolute
  top: 31px
  left: 15px
  color: white
  padding: 5px 5px
  min-width: 200px
  display: none
  z-index: 100
.checkbox-check:hover .description
  display: block
.checkbox-check:hover:after
  display: block
