.topbar-shadow
  height: 100px
  padding-top: 20px
  background-color: rgb(98,216,155)
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2)
.topbar
  height: 100px
  padding-top: 20px
  background-color: rgb(98,216,155)
.nav-inline
  font-size: 22px
.navbar-text
  color: white
  padding: 15px
  padding-bottom: 2px
  border-bottom: 3px solid transparent
.navbar-text:hover
  color: white!important
.navbar-text:focus
  color: white
.navbar-img
  display: block
  margin: 0 auto
  width: 35%
  background-color: white
