.cases-container
  margin-top: 83px
.case-text-center
  color: #395348
  font-size: 2em
  text-align: center
  margin-top: 96px
.cases-img
  display: block
  margin: 0 auto
  width: 108%
.img-container
  width: 100%
  position: relative
  margin-top: 13px
.img-container .cover
  opacity: 0
  position: absolute
  width: 108%
  height: 100%
  text-align: center
  padding-top: 50px
  line-height: 38px
  color: rgba(255,255,255,0.9)
  background-color: rgba(229,22,85,.64)
  transition: all 0.4s ease-in
.mobile-cover
  position: absolute
  left: 10%
  bottom: 0
  width: 100%
  padding-top: 4px
  padding-left: 8px
  font-size: 10px
  color: rgba(255,255,255,0.9)
  background-color: rgba(78,68,71,.64)
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1)
.img-container:hover .cover
  opacity: 1
@media (max-width: 800px)
  .img-container
    margin-left: -25px
@media (max-width: 600px)
  .img-container
    margin-left: -40px
@media (max-width: 435px)
  .img-container
    margin-left: -28px
@media (max-width: 384px)
  .img-container
    margin-left: -23px
  .case-text-center
    font-size: 25px
@media (max-width: 320px)
  .img-container
    margin-left: -20px
