.container
  max-width: 1000px
.header
  width: 100%
  height: 450px
  padding-top: 120px
  background-color: #52D69D
.header-img
  width: 50%
  display: block
  margin: 0 auto
.right-text
  width: 80%
  padding-left: 50px
.text-line-1
  font-size: 2.5em
  color: white
  line-height: 58px
.text-line-2
  font-size: 1em
  line-height: 7em
.btn-primary
  background-color: #E51655
  border-radius: 2rem
  width: 150px
  border-color: rgb(222,3,87)
  outline: none
.btn-primary:hover
  background-color: rgb(222,3,87)
  border-color: rgb(222,3,87)
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
.btn-primary:active
  background-color: #de0357!important
.btn.btn-primary:focus
  background-color: #de0357!important
  border-color: #de0357!important
  outline: none
@media (max-width: 600px)
  .right-text
    width: 100%
    text-align: center
    padding-left: 25px
  .text-line-1
    width: 90%
    font-size: 30px
    line-height: 35px
  .text-line-2
    padding-right: 25px
  .header-btn
    margin-right: 20px!important
@media (max-width: 412px)
  .right-text
    width: 100%
    text-align: center
    padding-left: 25px
  .text-line-1
    width: 90%
    font-size: 30px
    line-height: 35px
  .text-line-2
    padding-right: 25px
  .header-btn
    margin-right: 20px!important
@media (max-width: 384px)
  .right-text
    width: 100%
    text-align: center
    padding-left: 25px
  .text-line-1
    width: 90%
    font-size: 30px
    line-height: 35px
  .text-line-2
    padding-right: 25px
  .header-btn
    margin-right: 20px!important
@media (max-width: 360px)
  .right-text
    width: 100%
    text-align: center
    padding-left: 25px
  .text-line-1
    width: 90%
    font-size: 30px
    line-height: 35px
  .text-line-2
    padding-right: 25px
  .header-btn
    margin-right: 20px!important
