.require-form
  width: 100%
  height: auto
  margin-top: 50px
  margin-bottom: 50px
  padding-bottom: 50px
  padding-top: 50px
  border-radius: 8px
  background-color: white
.form-container
  width: 100%
  display: block
  margin: 0 auto
.item-style
  width: 50%
  display: block
  margin: 0 auto
.item-name
  width: 50%
  text-align: center
.name-input
  width: 76%
  display: block
  margin: 0 auto
  border-radius: 4px
  background-color: #ECEDF1
  border: solid 1px #ccc
.item-description
  width: 81%
  height: 150px
  display: block
  margin: 0 auto
  background-color: #ECEDF1
  border-radius: 4px
  border: solid 1px #ccc
.description-label
  margin-bottom: 10px
.btn-requirement
  display: block
  margin: 0 auto
  margin-top: 50px
.form-control
  background-color: #ECEDF1
