.cases-navbar
  width: 100%
  height: 80px
  font-size: 18px
  background-color: white
  // color: rgb(211,214,213)
.nav-icon-all
  color: rgb(211,214,213)
.nav-icon-all :hover
  color: rgb(211,214,213)
.nav-item :hover
  color: rgb(211,214,213)
.icon-all
  margin-right: 30px
  font-size: 35px!important
  color: inherit
.icon-all :focus
  color: rgb(202,129,0)!important
.nav-item :focus
  color: rgb(202,129,0)!important
.nav-li
  margin-right: 20px
  padding-right: 20px
  margin-top: 35px
  border-right: 2px solid #818A91
.nav-txt
  color: rgb(211,214,213)!important
.caselist
  background-color: white
  margin-top: 50px
  padding-top: 50px
  padding-bottom: 50px
  border-radius: 10px
.case-image
  width: 70%
  display: block
  margin: 0 auto
  &:hover
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2)
.case-label
  font-size: 2em
  text-align: center
  padding-top: 30px
  color: rgb(202,129,0)
.case-count
  text-align: center
  padding-top: 30px
  color: rgb(59,83,72)
.img-bottom
  width: 70%
  height: 60px
  font-size: 1em
  display: block
  margin: 0 auto
  padding-top: 20px
  text-align: center
  color: white
  background-color: rgba(0,0,0,0.4)
  &:hover
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2)
.image-container
  margin-top: -60px



